*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card-magic{
    width: 60vh;
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    margin: 20px;
    display: inline-block;
} 

.card-magic ul li img{
    height: 30vh;
}